header{
    
    justify-content: center;
    display: flex;
}
.logo{

    width: 350px;
    justify-content: center;
   
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: #f27b35;
    font-family:"Incosolata ",monospace;
    font-size: 35px;
    padding: 10px;
    
    
}
a:hover{
    color: #6bf266;
   
}
.abajo{
    margin: auto;
    text-align: center;
}
section.formulario{
    margin: auto;
    text-align: center;

}
.mapa{
    margin: auto;
    text-align: center;
}

#uno{
    width: 100%;
    height: 200px;
    background-color: #f26680;
}  

.banner{
    width: 100%;
    height:50px ;

}

 

#dos{
    width:1000px ;
    height: 200px;
    background-color:#402B27;
    margin: auto;
}
#tres{
    width: 100%;
    height: 200px;
    background-color:#0FBFAE;
    margin: auto;
}